*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    overflow-x: hidden;
}
#top{
    background-color: #f1f1f1;
}
#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow:5px 0px 10px gray;
    position: fixed;
}
header{
    display: flex;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
}
header img{
    width: 12%;
}
h1{
    font-size:2em;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(64, 129, 155);
} 
nav ul{
    list-style-type: none;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    margin: 0px 16px;
    color: gray;
    font-size: 1.2em;
    text-align: center;
    padding:10px 9.6px;
}
nav ul li a:hover{
    background-color: rgba(192, 240, 240, 0.493);
}
nav ul li ul{
    display: none;
    top:75%;
}
nav ul li:hover>ul{
    display:block;
    background-color: rgb(192, 240, 240);
    margin: 0 16px;
    position: absolute;
}
nav ul li ul li{
    display: block;
    text-align:center;
    padding: 15px;
}
nav ul li ul li a:hover{
    text-decoration: underline;
    text-decoration-color:gray;
}
h2{
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    color:rgb(64, 129, 155);
    background-image: linear-gradient(to right,white,rgb(125, 157, 170));
    font-family: monospace;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: normal;
}
.a{
    background-color: rgba(192, 240, 240, 0.493);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2%;
    width: 25%;
      
}
main{
    padding-top: 80px;
}
main img{
    float: right;
    padding-top: 100px;
}
.b{
    color: rgb(64, 129, 155);
    font-style: italic;
    line-height: 0.8;

}
footer{
    margin-top: 150px;
    background-color:rgba(192, 240, 240, 0.493); 
    color:rgb(64, 129, 155);
    font-size: 25px;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top:8px;
    text-align: center;
}
#mail{
    border: white;
    font-size: 12px;
    height: 25px;
    padding: 5px 8px 5px 8px;
}
#subscribe{
    color:white;
    font-size: 12px;
    background-color:rgb(64, 129, 155);
    border:rgb(64, 129, 155);
    height: 25px;
    padding: 5px 8px 5px 8px;
}
hr{ 
    margin: 20px 0;
    margin-top: 0;
    background-color:#ccc;
    opacity: 0.5;
} 
.bottom{                                   
    display: flex;
    flex-direction: column;
    align-items:center;
}
.bottom ul li{
    display: inline;
    padding-bottom:20px;
}
.bottom ul li a{
    text-decoration: none;
    margin-right: 16px;
    font-size:1em;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
}
.social-icons{                            /* Social media icons in footer */
    margin: 10px 0;
    font-size: 2em;
}