*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    overflow-x: hidden;
}
#top{
    background-color: #f1f1f1;
}
#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow:5px 0px 10px gray;
    position: fixed;
    z-index: 500;
}
header{
    display: flex;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
}
header img{
    width: 12%;
}
header h1{
    font-size:2em;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(64, 129, 155);
} 
nav ul{
    list-style-type: none;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    margin: 0px 16px;
    color: gray;
    font-size: 1.2em;
    text-align: center;
    padding:2% 2%;
}
nav ul li a:hover{
    background-color: rgba(192, 240, 240, 0.493);
}
nav ul li ul{
    display: none;
    top:65%;
}
nav ul li:hover>ul{
    display:block;
    background-color: rgb(192, 240, 240);
    margin: 0 16px;
    position: absolute;
}
nav ul li ul li{
    display: block;
    text-align:center;
    padding: 15px;
}
nav ul li ul li a{
    padding: 5px;
}
nav ul li ul li a:hover{
    text-decoration: underline;
    text-decoration-color:gray;
}
#banner{
    width:100%;
}

.sidenav{
    position: fixed;
    z-index: 0;
    top: 200px;
    left: 20px;
}
.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}
.sidenav a:hover{
    text-decoration: underline;
    text-decoration-color: teal;
}
main{
   padding-top: 150px;
}
.main{
    overflow: hidden;
    margin-left: 140px; 
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}

.LowCalorieMeal div, .WeightLossMeal div, .WeightGainMeal div {
    display: inline-block;
    margin-left: 10%;
    border:2px solid gray;
    border-radius: 5px;
    margin-bottom:6%;
}

.main h1{
    margin-left:120px;
    font-weight: normal;
    font-size:2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.main h2{
    font-size: 1.5em;
    color: gray;
    font-weight: normal;
    margin-top: 5px;
    margin-left: 2%;
}
.mail{
    margin-top: 20%;
    background-color:rgba(192, 240, 240, 0.493); 
    color:rgb(64, 129, 155);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;

}
.mail p{
    font-size: 2em;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 3%;
}
#mail{
    border: white;
    font-size: 1em;
    padding: 1% 3% 1% 3%;
}
#subscribe{
    color:white;
    font-size: 1em;
    background-color:rgb(64, 129, 155);
    border:rgb(64, 129, 155);
    padding: 1% 2% 1% 2%;
}
.bottom{
    background-color:rgb(64, 129, 155); 
    padding: 3% 0;
    text-align: center;
}
.text{
    color: white;
    font-size:1.5em;
}
.text p{
    margin: 0 10%;
    padding-bottom: 6%;
}
.list ul li{
    list-style-type: none;
    padding-right: 2%;
    display: inline;
}
.list ul li a{
    text-decoration: none;
    font-size:1.5em;
    color:white;
}


/* Java Script changes */
#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
    color: #1607e7;
}


/* Vote styling */

.voteContainer {
    border: 3px solid #303030;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
}

.voteContainer input {
    width: 50px;
    border: none;
    background: none;
    font-size: 20px;
    margin: 0 5px;
    pointer-events: none;
}

.voteContainer  button {
    background: none;
    border: none;
    font-size: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

}

.voteContainer button:active {
    transform: scale(1.2);
}