*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
}
#top{                                       /* Section wrapping content of the webpage */
    background-color: #f1f1f1;
    overflow: hidden;
}
#container{                                /* Section containing header and navigation */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow:5px 0px 10px gray;
    position: fixed;
}

/************************* Styling for header ********************/
header{
    display: flex;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
}
header a.openbtn {                      /* Menu button */
    display: none;
}
header img{
    width: 12%;
}
h1{
    font-size:2em;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(64, 129, 155);
} 

/******************* Styling for navigation ********************/
nav ul{
    list-style-type: none;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    margin: 0 16px;
    color: gray;
    font-size: 1.2em;
    text-align: center;
    padding:2% 2%;
}
nav ul li a:hover{
    background-color: rgba(192, 240, 240, 0.493);
}
.fa.fa-caret-right{                       /* Right arrow pointing sub-menu of Mindfulness */
    display: none; 
}
nav ul li ul{
    display: none;
    top:65%;
}
nav ul li:hover>ul{
    display: block;
    background-color: rgb(192, 240, 240);
    margin: 0 16px;
    position: absolute;
}
nav ul li ul li{
    display: block;
    text-align:center;
    padding: 15px;
}
nav ul li ul li a{
    padding: 5px;
}
nav ul li ul li a:hover{
    text-decoration: underline;
    text-decoration-color:gray;
}

/********************* Styling for content ***************/
main{
    padding-top: 6%;
}
main p{
    margin: 20px 20%;
    text-align: justify;
    color: gray;
    font-size: 1.5em;
    line-height: 1.8;
}
main h2{
    margin-top:80px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    color:rgb(64, 129, 155);
    font-family: 'Times New Roman', Times, serif;
    font-size:2.5em;
    font-weight: normal;
}
main h2:hover{
    background-color: white;
    border:1px none;
    border-radius: 10px;
}
main img{
    width: 95%;
    margin-left:2.5%;
    border-radius: 5px;
}
#content{                                      /* Wraps the sections in body*/
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
}
.row{                                         /* Displays two sections side-by-side in a row */
    display: flex;
    margin: 0 20%;
}
.row>div{
    width:50%;
    margin: 40px 10px;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(192, 240, 240);
    border:1px none;
    border-radius: 20px;
}
#content .row a{
    width: 90%;
    border-radius: 50px;
    margin: 0;
}
#content h1{
    font-size: 1.2em;
    margin: 10px 10%;
}

/******************** Styling for footer ********************/
hr{ 
    margin: 20px 0;
    background-color:#ccc;
    opacity: 0.5;
} 
.bottom{                                   
    display: flex;
    flex-direction: column;
    align-items:center;
}
.bottom ul li{
    display: inline;
    padding-bottom:20px;
}
.bottom ul li a{
    text-decoration: none;
    margin-right: 16px;
    font-size:1em;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
}
.social-icons{                               /* Social media icons in footer */
    margin: 10px 0;
    font-size: 2em;
}

/*************************** Responsive layout for mobile devices ********************/
@media only screen and (max-width:767px){
    .sidenav ul li{
        display: none;
    }
    #container{
        display:block;
        width: 100%;
    }
    header h1{
        font-size: 5vw;
    }
    header img{
        margin-left: 28%;
    }
    header a.openbtn{
        display: block;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        margin: 8px 0;
    }
    nav ul li a{
        margin:0px;
        padding: 0px;
        font-size: 5vw;
    }
    .sidenav.responsive ul li{
        margin-left: 30px;
    }
    .sidenav.responsive{
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
    }
    .fa{
       color:black;
       margin-left: 1px;
    }
    .sidenav.responsive a {
        text-decoration: none;
        font-size:1.5em;
        display: block;
    }
    .fa.fa-caret-right{
        display: inline-block;
        padding-left: 10px;
    }
    nav ul li .sub-menu{
        left:15%;
        top:50%;
        z-index: 1;
    }
    nav ul li ul{
        left:38%;
        top:60%;
    }
    main{
        padding-top: 9%;
    }
    .banner{
        width: 100%;
        margin: 0;
    }
    main h2{
        font-size: 2em;
        margin: 20px 0;
    }
    main p{
        margin: 0;
        padding: 0;
    }
    .row{
        margin: 0;
        flex-direction: column;
    }
    .row div{
        width: 90%;
        margin: 20px 4%;
    }
    .row img{
        width: 80%;
        margin-left: 8%;
    }
    #content h1{
        font-size: 4.5vw;
        padding: 10px 0;
    }
    .bottom ul li a{
        margin: 0 2px;
        font-size: 4vw;
    }  
}

/*************************** Responsive layout for tablets *****************************/
 @media only screen and (min-width:768px) and (max-width:1024px){
    #container{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    header{
         display: flex;
         justify-content: center;
         margin-bottom: 20px;
    }
    nav ul li a{
         font-size: 3.2vw;
    }
    nav ul li ul{
         top:100%;
    }
    main{
        margin:80px 0;
    }
    main h2,main p,main h3{
        font-size: 4.2vw;
    }
    main ul li{
        font-size: 4vw;
    }
    main img{
        width: 80%;
    }
    .banner{
        width: 100%;
        margin: 0;
    }
    main p{
        text-align: justify;
        margin-bottom:20px;
    }
    .row{
        margin: 10px 0;
    }
    .row>div{
        width: 90%;
    }
    .row img{
        margin:0 8%;
    }
    #content h1{
        font-size: 3vw;
        margin: 30px 0;
    }
    .bottom ul li a{
        margin: 0 3px;
        font-size: 3vw;
    } 
}